<div class="login-container">
  <h2>Login</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" />
      <mat-error *ngIf="form.controls.email.invalid && form.controls.email.touched">
        Please enter a valid email
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" />
      <mat-error *ngIf="form.controls.password.invalid && form.controls.password.touched">
        Password is required
      </mat-error>
    </mat-form-field>

    <!-- <button mat-raised-button color="primary" [disabled]="loading || form.invalid">
      {{ loading ? 'Logging in...' : 'Login' }}
    </button> -->

    <app-button buttonClass="default-btn" [disabled]="loading || form.invalid">
      {{ loading ? 'Logging in...' : 'Login' }}
    </app-button>

    <p class="error" *ngIf="error">{{ error }}</p>
  </form>
</div>
